In [1]:
import pandas as pd
import numpy as np
from sklearn import *

In [2]:
df=pd.read_csv('darttr.csv')

In [3]:
df.head()

   Days Outlook Temprature  Routine Wear Jacket?
0     1   Sunny       Cold   Indoor           No
1     2  Cloudy       Cold   Indoor          Yes
2     3  Cloudy       Warm  Outdoor           No
3     4   Sunny       Cold  Outdoor          Yes
4     5  Cloudy       Cold  Outdoor          Yes

In [4]:
df.shape

(8, 5)

In [5]:
df.isnull().sum() # for error

Days            0
Outlook         0
Temprature      0
Routine         0
Wear Jacket?    0
dtype: int64

In [6]:
lbl_enc=preprocessing.LabelEncoder()

In [7]:
mult_lbl=['Outlook','Temprature','Routine'] # select multi column for encode

In [8]:
df[mult_lbl]=df[mult_lbl].apply(lbl_enc.fit_transform) #for multi column encode

In [9]:
data_classf=tree.DecisionTreeClassifier()

In [10]:
x=df.drop(['Days','Wear Jacket?'],axis=1) # drop unused column for x value

In [11]:
y=df['Wear Jacket?']

In [12]:
data_classf.fit(x,y)

DecisionTreeClassifier()

In [13]:
x

   Outlook  Temprature  Routine
0        1           0        0
1        0           0        0
2        0           1        1
3        1           0        1
4        0           0        1
5        1           1        1
6        0           1        0
7        1           1        0

In [14]:
dtf=data_classf.predict([[1,0,0]])

In [15]:
if dtf==['No']:
    print('No need to wear jacket')
elif dtf==['Yes']:
    print('Need to wear jacket')

No need to wear jacket